html, body {
margin: 0;
padding: 0;
overflow: hidden;
}
#superContainer {
height: 100%;
position: relative;

/* Touch detection for Windows 8 */
-ms-touch-action: none; 
}
.section{
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.scrollable {
overflow: scroll;
}
.easing {
-webkit-transition: all 0.7s ease-out;
-moz-transition: all 0.7s ease-out;
-o-transition: all 0.7s ease-out;
transition: all 0.7s ease-out;
}
.slidesContainer{
float: left;
position: relative;
}